<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventory/products_list.css'%}">
    <title>Document</title>
</head>
<body>
<table>
    <th>
        <td>Title</td>
        <td>Description</td>
        <td>Price</td>
        <td>Product Details</td>
    </th>
    {% for basket in baskets %}
    <tr>
        <td>{{cart.name}}</td>
        <td>{{cart.total}}</td>
        <td>{{cart.quantity}}</td>
        <td>{{cart.shipping_cost}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
