<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <th>Title</th>
            <th>email</th>
            <th>location</th>
            <th>contacts</th>
        </th>
        {% for customer in customers %}
        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.email_address}}</td>
            <td>{{customer.location}}</td>
            <td>{{customer.contacts}}</td>
        </tr>
        {% endfor %}
    </table>

    
</body>
</html>